.items {
    display: flex;
    margin-top: 20px;
}
.item {
    width: 100%;
    padding: 0 10px;
}
.input {
    width: 100%;
    font-size: 16px;
    height:  calc(1.5em + .75rem + 2px);
    border-radius: 4px;
    border: 1px solid #ced4da;
    resize: vertical;
}
.label {
    padding: 5px 0;
    width: 140px;
}
.btn-add {
    font-size: 18px;
    margin-top: 8px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 4px;
}
.btn-close {
    font-size: 18px;
    margin-top: 8px;
    color: #fff;
    border-radius: 4px;
    background-color: #FF0000;
    border-color: #FF0000;
    margin-left: 5px;
}